.git
.gitignore
.env
.env.*
!.env.production.example
core/vendor
core/node_modules
core/storage/logs/*
core/storage/framework/cache/*
core/storage/framework/sessions/*
core/storage/framework/views/*
core/bootstrap/cache/*
node_modules
npm-debug.log
Dockerfile
docker-compose.yml
route-list.json
