.env
.env.*
!.env.example
!.env.production.example

/core/.env
/core/.env.*
!/core/.env.example

/core/vendor/
/core/node_modules/
/node_modules/

/core/storage/logs/*
!/core/storage/logs/.gitignore
/core/storage/framework/cache/*
!/core/storage/framework/cache/.gitignore
/core/storage/framework/sessions/*
!/core/storage/framework/sessions/.gitignore
/core/storage/framework/views/*
!/core/storage/framework/views/.gitignore
/core/storage/framework/testing/*
!/core/storage/framework/testing/.gitignore
/core/bootstrap/cache/*
!/core/bootstrap/cache/.gitignore

/core/storage/app/public/*
!/core/storage/app/public/.gitignore
/core/temp/*
!/core/temp/.gitignore

/.phpunit.cache/
/.phpunit.result.cache
/core/.phpunit.cache/
/core/.phpunit.result.cache

/route-list.json
/assets/admin/push_config.json
npm-debug.log
yarn-error.log
.DS_Store

/.idea/
/.vscode/
/.fleet/
