/*==================================================
    General
==================================================*/

html,body{
  padding: 0;
  margin: 0; 
  height: 100%; 
}  

/* html.pc{
  scroll-behavior:unset !important
} */
.scroll-behavior{
  scroll-behavior:unset !important
}
body{     
  
  margin:0; 
  padding:0;  
 
  position: relative;
  overflow-x: hidden;

  /* overscroll-behavior: contain; */
}
 
:root {    

  --bs-body-color:#1E1E1E;
  --bs-body-bg:#fff;
  --bs-body-text-align:left;
  --bs-body-font-weight:var(--fw-400);
  --bs-body-line-height:1.55; 
  --bs-body-font-size:var(--fs-16);
  --bs-body-font-family:"Poppins", "IBM Plex Sans Thai", sans-serif; 
  --bs-link-hover-color:inherit; 
   
  --body-rgb-a:1;
  --rgb-white:255,255,255;   

  --light-blue:#3AA8E9;
  --light-blue-linear:linear-gradient(180deg, #18ABCF 0%, #1E84F4 100%);
  --dark-head:#015086;
  --black:#1E1E1E;
  --yellow:#FFC136;
  --green:#25E28A;
   
  --color-primary:#577AEA;     
  --card-border-radius:8px;  

  --fs-30:30px;
  --fs-24:24px;
  --fs-20:20px;
  --fs-18:18px;
  --fs-16:16px;
  --fs-14:14px;
  --fs-12:12px;
  --fs-10:10px;

  --section-padding-x:35px;

  --animation-primary: 0.4s cubic-bezier(.75, 0, .25, 1);
  --animation-navigation-fade: 0.3s ease-in-out; 
    
  --header-height:95px; 
  --navbar-brand:auto;  
  
  --page-boxed-width:1199px;
  
  --padding-90:90px;
  --padding-80:80px;
  --padding-75:70px;
  --padding-50:50px;
  --padding-30:30px;
 
  /* --fw-200:200;
  --fw-300:200;
  --fw-400:300;
  --fw-500:400;
  --fw-600:500; 
  --fw-700:600;
  --fw-800:700;
  --fw-900:800; */

  --fw-200:200;
  --fw-300:300;
  --fw-400:400;
  --fw-500:500;
  --fw-600:600; 
  --fw-700:700;
  --fw-800:800;
  --fw-900:900; 
  
}  
 
@media (max-width:1700px) {
  :root{}
}
@media (max-width:1550px) {
  :root{
    --padding-90:70px;
  }
}
  
@media (max-width:991.98px) {
  :root{  
    --padding-90:50px;   
  }
}  
 
@media (max-width:575px) {
  :root{
    --section-padding-x:20px;
    --header-height:85px;
 
    --fs-24:22px;
    --fs-16:15px;
  }
}

 


.modal-open{
  touch-action: none; 
  overscroll-behavior: contain;
}
  
.modal-backdrop{
  overscroll-behavior: contain;
  --bs-backdrop-opacity: 0.8;
  --bs-backdrop-zindex: 1051;
}
 
a{
  color:inherit;
  text-decoration: none; 
  transition: all 0.2s ease-in-out; 
}
a:hover{ text-decoration: none;   }
 
.star{ color: #FF3E40 }
.highlight{color: var(--blue-light) !important;}
.font-poppins{font-family: var(--poppins);}

.form-control,
.form-select,
.form-selects{
  --input-h:46px;
 -webkit-appearance: none; 
  padding:0 15px;
 
  font-weight:var(--fw-400); 
  font-family:inherit;  
  font-size:14px; 
  border:0;

  height:var(--input-h);
  line-height:calc(var(--input-h) - 2px);  
  background:#fff; 
  border-radius:8px;  
  color: #636363;
  box-shadow: 2px 1px 8px 2px rgba(128, 206, 255, 0.4);
 
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.form-control.shadow-0,
.form-select.shawdow-0,
.form-selects.shadow-0{
  box-shadow: none;
  border:1px solid #C5E0EA;
}
 
.form-control::placeholder {   
  opacity:1;  
  color: #8D93A5; 
}

.form-control:-ms-input-placeholder {   
  opacity:1;  
  color: #8D93A5;
}

.form-control::-ms-input-placeholder {   
  opacity:1;  
  color: #8D93A5;
}

.form-control.disabled,
.form-control:disabled, 
.form-control[readonly] {
background: #F6F6F6;
border-color: #D3D3D3;
} 

.form-control.bg-light{
  background-color: #F7F7FC !important;
  border-color: #F7F7FC !important;
}
 
.form-select,
.form-selects{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"); 
  background-position:right .75rem center;
  background-size: 15px;
  background-repeat: no-repeat; 
} 
 
.form-control:focus,
.form-select:focus{
  background-color: #fff; 
  outline: 0; 
  box-shadow: 0 0 0 0.2rem rgba(14, 106, 199, 0.1); 
} 
textarea.form-control{
  height: 120px;
  line-height: normal;
  padding-top: 10px;  
}
textarea.form-control.h-200{height: 180px;}

.form-select:not(.selected){color: rgba(0, 0, 0, 0.5);}

.form-select .dropdown-menu{
  width: 100%;
  display:none;
  margin-top: 0; 
  border: 1px solid #C5E0EA;
  box-shadow: none;
  height: 180px;
  overflow-x: auto;
  padding: 5px 0;
}
.form-select .dropdown-menu.show{ 
  display:block
}
.form-select .dropdown-menu > li{
  display: block;
  line-height: normal;
  color: #636363;
  font-size: 14px;
  padding: 8px 15px;
  cursor: pointer;
}
.form-select .dropdown-menu > li:hover,
.form-select .dropdown-menu > li.active{
  background-color:rgba(128, 206, 255, 0.4);
}
div.form-control{
  display: flex;
  align-items: center;
  gap:10px
}

.form-check {
  position: relative;
  padding-left:0;
  display: flex;
  align-items: center;
  gap: 10px;
  color:var(--blue);
}
.form-check strong{font-weight: var(--fw-500);}
.form-check .form-check-input{
  width:18px;
  height:18px;
  margin-right: 0; 
  border-width: 1px;
  position: relative;
  margin-left:0;
  margin-top: -2px;
  border-radius:0; 
  flex-shrink: 0;
  border-color:#636363;
  box-shadow: none !important;
}
.form-check .form-check-input[type=radio],
.form-check .form-check-input[type=checkbox].circle{
  border-radius: 50%; 
}

.form-check .form-check-input[type=radio]:checked,
.form-check .form-check-input[type=checkbox].circle:checked {
  background-color: transparent; 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23636363'/%3e%3c/svg%3e");
  border-color: #636363;
}
.form-check label{
  margin-bottom:0;
  font-weight: var(--fw-400);
  font-size: inherit; 
}
.form-check-input:checked[type=checkbox], 
.form-check-input.rounded:checked[type=radio]{
  background-color:transparent; 
}

.form-check-input:checked[type=checkbox]{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-color: #577AEB;
  border-color: #577AEB; 
}
.form-select [data-bs-toggle]{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap:5px; 
  padding-top: 2px;
  opacity: 0.5;
  outline: 0 !important;
  color:#222222;
}

.form-check.no-text{
  gap:0;
  height: 16px;
  width: 16px;
}
.form-select [data-bs-toggle].selected{opacity: 1;}
.form-select [data-bs-toggle] .icons{top: -2px;}
 
.form-group{
  display: block;
  position: relative;  
  z-index: 10;
} 
 
.form-group label.title{
  display: flex;
  gap:10px;
  align-items: center;
  padding-bottom:8px;
  font-size: 14px;
  color: #252525;
  font-weight: var(--fw-600);
}
 
.form-group span.error{
  color:#DF1642; 
  padding-top: 5px; 
  /* margin-top: -15px;  */
  display: block;
}
 
.form-group .group{
  position: relative;
  display: block;
} 
.form-group .icons.left,
.form-group .icons.right{
  position: absolute;
  top: 0 !important;
  right: 11px;
  bottom: 0 !important;
  width: 16px; 
  height: auto;

  transition: none;
  z-index: 1;
} 
  
.form-group .icons.left{
  left: 10px;
  right: auto;
}
.form-group .icons.left.w-20{
  left: 14px;
}
.form-group .icons.left + .form-control{
  padding-left: 45px;
}
 
.form-group .icon-search{
  --icon-size:22px ;
  width: var(--icon-size) !important;
  background-image: url(../img/icons/icon-search.svg);
}
.form-group  .error + .icons{bottom: 31px !important;}
.form-group  .error[style] + .icons{bottom: 0 !important;}
.form-group.search input{width:265px;}
.error + .form-select{border-color: #DF1642; }

.form-select + .error{
  position: absolute;
  left: 0;
  top: 100%;
  line-height: 0.9;
}

select.form-select.error{display: none !important;}

.form-group.rows{
  display: flex;
  flex-direction:row;
  gap:14px;
  align-items: center; 
}
.form-group.rows label.title{
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  font-weight: var(--fw-500);
}
.btn{
  --btn-h:56px; 
  position: relative; 
  padding:0 20px;       
  height:var(--btn-h); 
  line-height:calc(var(--btn-h) - 2px);  
  transition: all 0.25s ease-in-out;    
  font-weight: var(--fw-400);     
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: var(--fs-16); 
  background: var(--bs-btn-bg);
  gap:12px;    
  max-width: var(--max-width);
  --max-width:none;
  --bs-btn-border-width:0;
  --bs-btn-border-radius:8px;

  --bs-btn-color:#fff; 
  --bs-btn-bg:transparent; 
  
  --bs-btn-active-color:var(--bs-btn-hover-color);  
  --bs-btn-active-bg:var(--bs-btn-hover-bg); 
}   
.btn{
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
} 
.btn-gradient{
  --bs-btn-color:#fff; 
  --bs-btn-bg:linear-gradient(180deg, #18ABCF 0%, #1E84F4 100%); 
  --bs-btn-hover-color:#fff;
  --bs-btn-active-color:var(--bs-btn-color);  
  --bs-btn-active-bg:var(--bs-btn-bg);
}
.btn-gradient:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#015086;
  transition: all 0.25s;
  opacity: 0;
}
.btn-gradient:hover:before{opacity: 1;}  
.btn span,
.btn .icons{
  position: relative;
  z-index: 10;
}  
.btn svg,
.btn img{
  position: relative;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
 
.btn.btn-primary{ 
  --bs-btn-border-width:0;
  --bs-btn-color:#fff;
  --bs-btn-bg:#29D5DA;
  --bs-btn-hover-bg:var(--bs-btn-bg);
  --bs-btn-hover-color:#023D82;  
}
.btn.btn-primary:hover path{fill: var(--blue);} 
 
.btn.btn-circle{
  width: var(--btn-h);
  border-radius: 50%;
  padding: 0;
}

.btn.h-33{
  --btn-h:33px;
  border-radius: 4px;
  font-size: var(--fs-14);
}

.btn:focus,.btn:active,
button:focus,button:active,
a:focus,a:active {
   /* outline: none;
   box-shadow: none; */
} 

.btn.disabled, .btn:disabled{  pointer-events: none;}
 
.shadow-0{box-shadow: none !important;}
  
.buttons{
  display: flex; 
  text-align: center; 
  justify-content: center;
  align-items: center;
  gap:25px;  
  padding: 30px 0 0;
} 
 
.rounded{border-radius: 50% !important;}

.py-90{padding: var(--padding-90) 0 !important;}
.pt-90{padding-top: var(--padding-90) !important;}
.pb-90{padding-bottom: var(--padding-90) !important;}

.py-80{padding: var(--padding-80) 0 !important;}
.pt-80{padding-top: var(--padding-80) !important ;}
.pb-80{padding-bottom: var(--padding-80) !important ;}

.py-70{padding: var(--padding-75) 0 !important;}
.pt-70{padding-top: var(--padding-75) !important;}
.pb-70{padding-bottom: var(--padding-75)!important ;}

.py-50{padding: var(--padding-50) 0 !important;}
.pt-50{padding-top: var(--padding-50) !important;}
.pb-50{padding-bottom: var(--padding-50)!important ;}

.py-30{padding: var(--padding-30) 0 !important;}
.pt-30{padding-top: var(--padding-30) !important;}
.pb-30{padding-bottom: var(--padding-30)!important ;}

hr{border-color: #EBEBEB; opacity: 1;}

svg path,
svg rect,
svg line,
svg circle,
svg polygon{  
 transition: all 0.2s ease-in-out;
} 

@media (max-width:991.98px){}
 
  
/*==================================================
    Icon Setup
==================================================*/  

.icons{
  display:inline-block;
  position:relative;
  vertical-align:middle; 
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  
  --icon-size:24px;
  flex-shrink: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  
}
.icons.before:before,
.icons.before:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center center;
  transition: all 0.35s ease-in-out;
  opacity: 0;
}
.btn .icons.before:before{ opacity: 1; }
.btn .icons.before:after{ opacity: 0; }
.pc .btn:hover .icons.before:before{ opacity: 0; }
.pc .btn:hover .icons.before:after{ opacity: 1; }

img.icons,
svg.icons{ 
  object-fit: contain;
  object-position:center;
  flex-shrink: 0;
}
.icons.w-14{--icon-size:14px;}
.icons.w-18{--icon-size:18px;}
.icons.w-20{--icon-size:20px;}
.icons.w-32{--icon-size:32px;}

.container-fluid{ 
  --padding-x:60px; 
  max-width:1920px;
  padding-left:var(--padding-x);
  padding-right:var(--padding-x); 
  position: relative;
  z-index: 9;    
}

.container{ 
  --padding-x:80px;
  max-width: calc(1300px + (var(--padding-x) * 2));
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  position:relative;
  z-index:9; 
}
 
.section-target{
  position: absolute; 
  /* top: calc((var(--header-height)  + 0px) * -1);  */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}
 
.section{
  display: block;
  position: relative; 
  flex: 1 1 auto; 

  padding:  0 var(--section-padding-x);
}
 
.compensate-for-scrollbar{ margin-right: 0 !important } 
.compensate-for-scrollbar .header{ right: 0 } 
body.fancybox-active{ overflow: visible !important;padding-right: 0 !important  }
 
@media (max-width:1440px) {
  .container-fluid{
    --padding-x:40px;
  } 
  .container{
    --padding-x:80px;
  }
}
@media (max-width:1199px) {
  .container-fluid,
  .container{
    --padding-x:40px;
  } 
  
}
  
@media (max-width:1024px) { 
  .container-fluid{
    --padding-x:30px;
  }   
  .container{
    --padding-x:50px;
  }
}
@media (max-width: 991.98px) {
  
}

@media (max-width: 670px) {
  .container,
  .container-fluid{
    --padding-x:20px;
  } 

  .section{
    --padding-top:35px;
    --padding-bottom:35px;
  }
}

/*==================================================
    Header Setup
==================================================*/   
.fw-light{font-weight: var(--fw-300) !important;}
.fw-400{font-weight: var(--fw-400) !important;}
.fw-500{font-weight: var(--fw-500) !important;}
.fw-600{font-weight: var(--fw-600) !important;}   
.fw-700{font-weight: var(--fw-700) !important;}    
 
b, strong{
  font-weight: var(--fw-600); 
  font-family: inherit;
}
 
.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6{   
  margin:0;    
  font-weight:var(--fw-600);
  font-style: normal;  
  line-height:1.5;    
  position: relative;   
  color: var(--black); 
}  
.fs-40{font-size: 40px !important;} 
.fs-30{font-size: var(--fs-30) !important;}
.fs-24{font-size: var(--fs-24) !important;}
.fs-18{font-size: var(--fs-18) !important;}
.fs-16{font-size: var(--fs-16) !important;}
.fs-14{font-size: var(--fs-14) !important;}
.fs-12{font-size: var(--fs-12) !important;}
.fs-10{font-size: var(--fs-10) !important;}
.nowrap{ white-space: nowrap; }    
  
.header,
.navbar-brand,
.navbar-brand img{
  transition: all 0.3s;
}
.header{
  display: flex;
  align-items: center;
  padding: 0 var(--section-padding-x);
  height: var(--header-height);

  position:fixed;
  top: 0;
  left: 50%; 
  width: 100%;
  z-index: 1050;
  max-width: var(--page-boxed-width);
  background-color:#181818;
  margin-left: calc(-1 * (var(--page-boxed-width) / 2));
  background: linear-gradient(180deg, #18ABCF 0%, #1E84F4 100%);
  color: #fff;
} 
  
.header .container,
.header .container-fluid{  
  display: flex;   
  align-items:center;   
  height: 100%; 
  z-index: 400;
  position: relative;   
  justify-content: space-between;
} 

.header .d-flex{align-items: center;}
 
.navbar-brand{ 
  padding: 0;   
  flex-shrink: 0;
  z-index: 200;    
  display: flex;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 20%; 
}
.navbar-brand a{
  width: var(--navbar-brand);  
  display: block;
  margin: auto;
  transition: all 0.35s;
}
.navbar-brand img,
.navbar-brand svg{ 
  height: auto;  
  margin: 0;
  width: 100%;
  transition: all 0.35s;
} 
 
.dropdown [data-bs-toggle]{
  display: flex;
  align-items: center;
  gap:10px
}
.dropdown [data-bs-toggle]:after{
  content: '';
  width: 12px;
  height: 12px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/icon-arrow-down.svg);
}
.dropdown-menu{
  --bs-dropdown-border-radius:5px;
  --bs-dropdown-menu-border-radius:5px;
  --bs-dropdown-border-color:#fff;
  --bs-dropdown-bg:#fff; 
  --bs-dropdown-color:#222;
  --bs-dropdown-padding-x:15px;
  --bs-dropdown-padding-y:5px;
  --bs-dropdown-spacer:0;
  --bs-dropdown-min-width:0;
  --bs-dropdown-link-hover-bg:rgba(0, 0, 0, 0.05); 
  --bs-dropdown-border-width:0;
  
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: all 0.35s;
  top: 110%; 
  box-shadow: 0 5px 8px rgba(45, 82, 114, 0.1);
  padding: 10px 0; 
  width: auto;
}  
.dropdown-menu.right{
  left: auto;
  right: 0;
}
.dropdown:hover .dropdown-menu,
.dropdown .dropdown-menu.show{
  opacity: 1;
  top: 100%;
  pointer-events: all;
}
 
.dropdown-menu > li{
  position: relative;
  z-index: 10; 
}

.dropdown-menu > li > a{
  font-size:14px;
  display: block;
  position: relative;
  padding:var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);  
} 
.pc .dropdown-menu > li > a:hover{
  background-color: #f1f1f1;
}
.dropdown-menu > li.active > a{color: var(--color-primary);} 

.header-username h2{
  color: #fff;
  font-size: var(--fs-24);
  font-weight: var(--fw-600);
}
.header-username p{
  margin: 0;
}

.btn-setting{
  margin-left: auto;
  padding: 0; 
  width: var(--btn-h);
  --btn-h:64px;
  --bs-btn-border-radius:50%;
  --bs-btn-border-width:1px;
  --bs-btn-border-color:#AEE1F4;
  --bs-btn-hover-border-color:#003087;
  --bs-btn-active-border-color:#003087;
}
.btn-setting .icons{
  --icon-size:32px;
}
 
.btn-setting:before{display: none;} 

.btn-setting:hover svg path[fill],
.btn-setting:active svg path[fill]{fill: #003087;}
.btn-setting:hover svg path[stroke],
.btn-setting:active svg path[stroke]{stroke: #003087;}

.header h1,
.header h2,
.header h3{
  color:#fff;
  font-weight: var(--fw-600);
}
.header p{
  margin: 0;
  line-height: 1.4;
}
.header p.d-flex{
  align-items: center;
  gap:5px;
}
.arrow-back{
  --icon-size:30px;
  background-image: url(../img/icons/icon-back.svg);
  margin-right:20px;
}
@media (max-width: 1199px) {
  .header {
    left: 0;
    max-width: 100%;
    right: 0;
    margin: 0; 
  }
}
 
@media (max-width: 767px) { 
  .btn-setting{
    --btn-h:60px;
  }
  .btn-setting .icons{
    --icon-size:30px;
  }
}

@media (max-width: 575px) {
  .header-username h2{
    font-size: 20px;
  }
  .header-username p{
    font-size: 14px;
  }

  .btn-setting{
    --btn-h:55px;
  } 
  .arrow-back{margin-right: 15px;}
}
/*==================================================
   Section
==================================================*/  
 

.page-boxed{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--page-boxed-width); 
  position: relative;
  overflow: hidden;   
  background-color:var(--bs-body-bg);
  padding-top: var(--header-height); 
}
 
.page{
  display: flex;
  position: relative;
  overflow: hidden;   
  background-color: #f1f1f1; 
  min-height: 100%;
} 
 
.preload{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#fff;
  z-index: 1090; 
  display:flex;   
} 
  
.loader {
  width: 34px;
  height:34px;
  margin:  auto;
  display: block;
  border-top: 3px solid var(--color-primary);
  border-right: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-left: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  animation: spin 1s infinite linear;
}
 
 
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.section-full{
  min-height: 100vh;
  min-height: calc(var(--vhs, 1vh) * 100) !important;
  display: flex;
}
 
.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.background.fixed{
  background-attachment: fixed;
}
.device .background.parallaxie,
.device .background.fixed{
  background-attachment: scroll !important;
  background-position: center center !important;
}

@media (max-width:1199px) {
  .background.parallaxie{
    background-attachment: scroll !important;
    background-position: center center !important;
  }
}
 
.section{ 
  position: relative;  
}

.card-lists{
  --bs-gutter-x: 15px;
  --bs-gutter-y: 15px;
}
  
.card{ 
  position: relative; 
  box-shadow: 2px 1px 6px rgba(124, 154, 173, 0.4);
  color: #505050;
  font-size: 12px;
  padding: 15px;
  height: 100%;
  --bs-card-border-color:#C5E0EA;
  --bs-card-border-radius:8px;
}
 
.card-photo{
  position: relative;
  overflow: hidden;
  display: block;   
}

.card-photo .photo{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.35s ease 0s;  
}
.card-photo .photo img{
  width: 100%
}
 
.card-body{color: inherit;}

.card p {
  margin: 0;
}
.card p small{
  font-size: 10px;
}

.card-column{
  flex-direction: column;
  display: flex;
  gap:3px
}
 
.card-link{
  position: absolute !important;
  top: 0;
  left: 0; 
  right: 0;
  height: 100%;
  z-index: 100;
  z-index: 20 !important;
}
.card h3,
.card p,
.card .card-body{transition: all 0.2s ease 0s;}
 
.section-banner{ 
  position: relative;
  padding: 0 !important;
  flex: unset;
}

.section-body{
  flex: 1 1 auto;
  /* padding-top:var(--header-height); */ 
}
 
.textrow{
  position: relative;
  overflow: hidden;
  display: block;
}
.textrow > span{
  display: inline-block;
} 

.title-main{
  padding: 25px 0;
  text-align: center; 
  color: var(--color);
  --color:#1E1E1E;
}
.text-primary{color: #015086 !important;}
.text-blue-light{color: #3AA8E9 !important;}
.text-success{
  background: linear-gradient(180deg, #18ABCF 0%, #1E84F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} 
 
.infos-row{
  display: flex;
  align-items: center;
}
.infos-row .icons{
  --icon-size:22px;
}

.card-funds .amount{
  font-weight: var(--fw-700);
  color: var(--color);
  font-size: var(--fs-24);
}

.funds-amount{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
}
.funds-amount p{
  margin: 0;
  font-size: 10px;
}
.funds-amount h2{
  margin-left: auto;
  text-align: right;
  font-size: var(--fs-20);
  font-weight: var(--fw-400);
}


.infos-label{
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #619AB0;
  font-size: 14px;
  padding: 0px 10px;
  gap:4px;
  background-color: #AEE1F4;
}
.infos-label .icons{
  --icon-size:18px;
  margin-left: -4px;
}

a.infos-label:hover{
  background-color: #3AA8E9;
  color: #015086;
}
a.infos-label:hover svg path[fill]{fill:#015086;}
a.infos-label:hover svg path[stroke]{stroke:#015086;}
.card-referral-code{
  --bs-card-border-width:0;
  margin:25px 0; 
  background: linear-gradient(178.06deg, #FFFFFF 1.64%, #AEE1F4 139.09%);
}

.status-label{
  display: flex;
  border-radius: 50px;
  font-size: 10px;
  color: #17D162;
  background-color: #BBFFD6;
  height:19px;
  align-items: center;
  padding: 0 1px 0 6px; 
  min-width: 70px;
 

}
 
.status-label .icons{
  --icon-size:8px;
  border-radius: 50%;
  background-color: #17D162;
  margin-left: 0; 
}

.status-label.inactive{
  background-color: #B6B6B6;
  color: #636363;
}
.status-label.inactive .icons{
  background-color: #636363;
}
.card-referral-code .infos-label{
  font-size: 10px;
}
.card-referral-code .infos-label .icons{
  margin: 0 0 0 0;
}
.referral-code{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
  padding: 15px 0 10px;
}
.referral-code .form-group{
  width: 100%;
  display: flex;
  align-items: center;
  gap:10px
}
.referral-code .form-control{
  border: 0;
  border-bottom: 1px solid #505050;
  border-radius: 0;
  padding:5px 0 0 0;
  font-size: 14px;
  color: #1C76BD;
  background-color: transparent;
  box-shadow: none !important;
  --input-h: 38px;
}
.referral-code .btn-copy{
  --btn-h:38px;
  flex-shrink: 0;
}
.referral-code .btn-share{
  gap:4px;
  padding: 0 15px;
}
.referral-code .btn-share .icons{
  margin-left: -4px;
}

.funds-log{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
}
.funds-log p{
  margin: 0;
  font-size: 10px;
}
.funds-log h2{
  margin-left: auto;
  text-align: right;
 color: var(--black, #1E1E1E);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.card-infos{
  display: flex;
  flex-direction: column;
}

.card-infos .title-expand{
  border-radius:8px;
  background-color: #1C76BD;
  box-shadow: 2px 1px 6px rgba(124, 154, 173, 0.4);
  height: 53px;
  display: flex;
  align-items:center;
  padding: 0 20px;
}
.card-infos .title-expand h3{
  color: #fff;
  font-size: var(--fs-16);
  font-weight:var(--fw-400);
}
.card-infos .title-expand .arrow{
  margin: auto;
  margin-right: 0px;
  background-image: url(../img/icons/icon-arrow-right.svg);
  transition: all 0.25s;
  transform: rotate(90deg);
  --icon-size:16px;
}
.card-infos .title-expand.show .arrow{
  transform: rotate(0);
}
.plan-info-block{
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-12);
  border-bottom: 1px solid #B6B6B6;
  padding: 15px 0 15px 10px;
}
.plan-info-block h2{
  font-size: var(--fs-16);
}
.plan-info-block p{
  margin: 0;
  color: #B6B6B6;
}
.plan-info-block p small{
  font-size: 10px;
  color: #1C76BD;
}

.fs-12-10{font-size: 12px;}
@media (max-width:575px) {
  .card{
    padding: 10px;
  }

  .card-lists{
    --bs-gutter-x: 12px;
    --bs-gutter-y: 12px;
  }
  .title-main{
    padding:20px 0;
  }

  .infos-label{
    font-size: 13px;
  }
}
 
@media (max-width:380px) {
  .fs-12-10{font-size: 10px;}
}


/*==================================================
 My Network
==================================================*/ 
.card-network{
  padding: 0;
  font-size: 14px;
  color: #636363;
}
.card-network h3,
.card-network h2{
  font-size: inherit;
  color: inherit;
}
.card-network .card-footer{
  background-color: #3AA8E9;
  border: 0;
  margin: 0; 
}
.users-status{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin:15px 0 5px;
  list-style-type: none;
  gap: 10px;
  font-size: var(--fs-14);
  color: #619AB0;
}
.users-status li{
  display: flex;
  justify-content: space-between;
}
.users-status li strong{
  font-weight: var(--fw-600);
}
.users-status li{
  --color:#619AB0;

  padding-left:16px;
  position: relative;
}

.users-status li:before{
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width:8px;
  height: 8px;
  border-radius: 50%;
  background-color:var(--color);
}
.users-status li strong{color: var(--color);}
.users-status li.active{--color:#17D162;}
.users-status li.total{--color:#fff; padding-left: 0; color: var(--color);}
.users-status li.total:before{display: none;}

.card-network .card-footer .users-status{
  margin:10px 0;
}

/*==================================================
setting
==================================================*/ 

.user-group{
  display: flex;
  align-items: center;
  gap:25px;
  justify-content: center;
}
.user-group h5{
  font-size: var(--fs-16);
}
.user-group .avatar{
  --icon-size:55px;
}

.nav-links{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.nav-links li > a{
  display: flex;
  align-items: center;
  gap:15px;
  padding:20px 0;
  border-bottom: 1px solid #B6B6B6;
}
.nav-links li.logout > a{
  color: #F16147;
  border-bottom: 0;
}
.nav-links li.logout > a:after{display: none;}
.nav-links li > a:after{
  content: '';
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: 10px;
  transform: rotate(-90deg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%233AA8E9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"); 
  background-size: contain;
  background-repeat: no-repeat;
}

.boxed{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: var(--width);
  --width:650px;
}

.nav-tabs-pretty{
  border-radius: 50px;
  background-color: #C5E0EA;
  box-shadow: inset 2px -1px 9px 6px #B1D1DD;
  margin: 20px 0;
}
.nav-tabs-pretty li{
  width: 50%;
}
.nav-tabs-pretty .tab-link{
  position: relative;
  text-align: center;
  font-weight: var(--fw-600);
  height: 100%;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #619AB0;
  border-radius: 50px;
}

.nav-tabs-pretty li.active .tab-link{
  background: linear-gradient(180deg, #18ABCF 0%, #1E84F4 100%);
  color: #fff;
}
 


@media (max-width: 670px) {
  .user-group{gap:18px}
  .user-group .avatar{--icon-size:50px;}

  .nav-tabs-pretty .tab-link{
    height: 50px;
  }
}

/*==================================================
withdraw
==================================================*/ 

.section-reward-balance{
  position: relative;
  height: 150px;
  background:linear-gradient(110deg, #015086 10.72%, #3AA8E9 55.16%);
  display: flex; 
  color: #fff;
}
 
.section-reward-balance .background{
  background-image: url(../img/thumb/photo-w770.jpg); 
}
.section-reward-balance .group{
  padding-top: 25px;
  padding-left: 91px;
  position: relative;
  z-index: 10;
}
.section-reward-balance h3,
.section-reward-balance h2{
  color: #fff;
}
.section-reward-balance h3{
  font-size: var(--fs-16);
}
.section-reward-balance h2{
  font-size: 26px;
}

.section-withdraw{
  margin-top: -10px;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  position: relative;
  z-index: 100;
  text-align: center;
  font-size: 12px;
  color: #636363;
  padding: 0 20px;
  flex: 1 1 auto;
  display: flex;
}

.section-withdraw .icons.top{ 
  margin: -30px auto 20px;
}
.section-withdraw h2{
  font-size: 22px;
  font-weight: var(--fw-700);
  margin-bottom:15px;
}

.withdraw-report{
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
  justify-content: space-between;
  flex: 1 1 auto;
}

.card-blue-light{
  background-color: #CDEFFD;
  border-radius: 8px;
  padding:15px 20px;
  display: flex;
  gap:15px;
  max-width: 285px;
  margin: 10px auto;
  text-align: left;
  align-items: center;
}
.card-blue-light h4{
  color:#003087;
  font-size: 20px;
  font-weight: var(--fw-700);
  line-height: 1.1;
}
.card-blue-light .icons{
  --icon-size:32px
}
.card-blue-light p{
  margin: 0;
}
@media (max-width: 575px) {
  .section-reward-balance .group{ 
    padding-left: 70px;
  }

  .withdraw-report{padding-bottom: 30px;}
}

/*==================================================
   Footer - menu
==================================================*/ 

.footer-menu-block{
  position: relative;
  height: var(--header-height);
}
.footer-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  margin: 0;
  list-style-type: none;
  height: var(--header-height);

  position:fixed;
  bottom: 0;
  left: 50%; 
  width: 100%;
  z-index: 1050;
  max-width: var(--page-boxed-width);
  margin-left: calc(-1 * (var(--page-boxed-width) / 2));
  background: linear-gradient(180deg, #18ABCF 0%, #1E84F4 100%);
 
  border-radius: 8px 8px 0px 0px;
  color: #fff;  
} 
.footer-menu .link-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:12px;
  font-weight: var(--fw-500);
  gap:6px
}
.footer-menu .link-menu .icons{
  --icon-size:30px
}
.footer-menu svg path[fill]{
  fill:#fff !important;
}
.footer-menu svg path[stroke]{
  stroke:#fff !important;
}

.footer-menu li.active svg path[fill],
.footer-menu li .link-menu:hover svg path[fill]{
  fill: var(--yellow) !important;
}
.footer-menu li.active svg path[stroke],
.footer-menu li .link-menu:hover svg path[stroke]{
  stroke: var(--yellow) !important;
}
.footer-menu li.active .link-menu,
.footer-menu li .link-menu:hover{
  color:var(--yellow);
}
@media (max-width: 1199px) {
  .footer-menu {
    left: 0;
    max-width: 100%;
    right: 0;
    margin: 0; 
  }
}

@media (max-width:575px) {
  .footer-menu{
    padding: 0 25px;
  }
}


/*==================================================
   Skeleton Loading
==================================================*/ 
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text-box{
    display:flex;
    width:100%;
    height:20px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}